<div>
  <label for="contact-name"></label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email"></label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone"></label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image"></label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<div>
 <label for="contact-name"></label>
 <input id="contact-name" placeholder= "name"
 type="text" [(ngModel)]="pattern" >
</div>

<div>
 <label for="contact-email"></label>
 <input id="contact-email" placeholder= "email"
 type="text" [(ngModel)]="pattern" >
</div>

<button (click)="addContact(newContact.name, newContact.email, newContact.phoneNumber, newContact.image)">Submit New Contact</button>

<ul>
  <li *ngFor="let contact of contacts | filter:'name':pattern; let i = index">
    <span>{{contact.name}}</span>
    <span>{{contact.email}}</span>
    <span>{{contact.phoneNumber}}</span>
    <!-- <img src={{contact.image}}  /> -->
  </li>
</ul>
